node_modules
npm-debug.log
vendor
.git
.gitignore
README.md
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*