includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 4

    treatPhpDocTypesAsCertain: false

    ignoreErrors: []

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    tmpDir: /tmp/phpstan

    parallel:
        maximumNumberOfProcesses: 4
        processTimeout: 300.0