includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 4

    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#Access to an undefined property App\\Models\\UserProfile::\$date_of_birth#'
        - '#Access to an undefined property Laragear\\WebAuthn\\Contracts\\WebAuthnAuthenticatable::#'
        - '#Call to an undefined method Laragear\\WebAuthn\\Contracts\\WebAuthnAuthenticatable::#'
        - '#Using nullsafe property access.*on left side of \?\? is unnecessary#'
        - '#Instanceof between App\\Models\\User and.*will always evaluate to true#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$email#'

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    tmpDir: /tmp/phpstan

    parallel:
        maximumNumberOfProcesses: 4
        processTimeout: 300.0